*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    margin: 0;
  height: 100%;
}

body{
    font-family: Cormorant Garamond, sans-serif; 
    background-color: #f9f1e6;
}

.wrapper{
    margin: 60px auto 50px;
    width: 100%;
    max-width: 1200px;
}

section{
    scroll-margin-top:140px;
    
    margin-top: 100px;
    margin-bottom: 100px;
}

#about-us p{
    margin-bottom: 20px;
    padding: 0 20px;
}

.primary{
    color:#804f17;
}

.posty{
  background-color: #804f17;
  padding: 20px;
  border-radius: 25px;
}

.posty h2{
  text-align: left;
  padding: 10px 20px 20px;
}

.posty h3{
  text-align: left;
  padding: 10px 20px 20px;
}

table img {
  margin: 8px -16px;
  object-fit: cover;
}

table, th, td {
  border:1px solid bisque;
  border-collapse: collapse;
  table-layout: fixed ;
  color: bisque;

}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ecd1b3; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
 
  input[type=submit] {
    background-color: bisque;
    color: #804f17;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
  input[type=submit]:hover {
    background-color: #f9f1e6;
  }
  
  .container{
    background-color: #804f17;
    padding: 20px;
    border-radius: 25px;
  }

  .container h2{
    margin-top: 30px;
  }

footer{
    text-align: center;
}



