.navbar-outer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 120px;
    width: 100vw;
    border-top: 4px solid #804f17;

    position: sticky;
    top: 0;
    position: fixed;

    border-bottom: 2px solid #ecd1b3;
    background-color: #f9f1e6;

    z-index: 10;
}

.navbar{
    height: 120 px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 1100px;
}

.navbar-logo{
    background-image: url(../projekt/Images/logo2_pol_bezbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 121px;
    height: 100px;
    margin-bottom: 15px;
    cursor: pointer;
}

.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    flex: 1;   
}

ul.navbar-links-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;    
}

li.navbar-links-list-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: black;
    border-bottom: 4px solid transparent;
}

li.navbar-links-list-item:hover{    
    border-bottom: 4px solid #804f17;
}

li.navbar-links-list-item a{
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 0.7cm;
    font-weight: 500;
}

.navbar-cart-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 25px;
    height: 25px;    
    margin-bottom: 45px; 
    background-image: url(../projekt/Images/logout_bezbg.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


