.navbar-outer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 120px;
    width: 100vw;
    border-top: 4px solid #804f17;

    position: sticky;
    top: 0;
    position: fixed;

    border-bottom: 2px solid #b98850;
    background-color: #f9f1e6;

    z-index: 9;
}

.navbar{
    height: 120 px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 1100px;
}

.navbar-logo{
    background-image: url(./Images/logo2_pol_bezbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 121px;
    height: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}

.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    flex: 1;   
}

ul.navbar-links-list{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;    
}

li.navbar-links-list-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: black;
}

li.navbar-links-list-item:hover{    
    border-bottom: 4px solid #804f17;
}

li.navbar-links-list-item a{
    margin: 40px 20px 40px;
    text-decoration: none;
    font-size: 0.7cm;
    font-weight: 500;
}

.navbar-logout-button{
    display: flex;
    width: 25px;
    height: 25px;    
    margin-bottom: 45px; 
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.navbar-profile-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 25px;
    height: 25px;    
    margin-bottom: 45px; 
    background-image: url(./Images/profile_bezbg.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin-left: 20px;
    margin-right: 20px;
}

.navbar-links-list > li {
    overflow: hidden;
  }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
  .burger-icon{
      display: none;
  }    
}
  
  @media only screen and (max-width: 768px) {
    nav a{
        display: inline;
    }
    .fa {
      margin: 0 20px 50px;
      color: #804f17;
    }
    .navbar-links-list{
      position: absolute;
      top: 0;
      margin-top: 115px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    
    .navbar-links-list > li {
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      background-color: #f9f1e6e1;
    }
    .navbar-links-list > li:not(:last-child) {
      border-bottom: 1px solid #804f17;
    }
    .navbar-links-list > li:last-child {
      border-bottom: 1px solid transparent;
    } 

    .section-2-button-next{
      margin-right: 10px;
    }

    .container img{
      width: 100%;
    }
  }

  @media (max-width: 1200px) {

    .section-2,
    .section-2-inner,
    .section-2-container,
    .section-2-right-img-wrapper,
    .section-2-right-img,
    .section-2-right-img-content, 
    .section-2-left-img{ 
        max-width: 100%;
    } 

    .section-2-button-next{
      margin-right: 10px;
    }   
  }

  .section-2{
    width: 100vw;
    height:620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to bottom,
        #d0ae84 0%,
        #d0ae84 55%,
        #dfc09b 55%,
        #dfc09b 100%
    );
    margin-top: 120px;
    scroll-margin-top:120px;
}

.section-2-inner{
    width: 1200px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 87%;
}

.section-2-container{
    flex: 10;
    background:transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.section-2-buttons{
    flex: 1;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    cursor: pointer;
}

.section-2-button-prev,
.section-2-button-next{
    width: 50px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.section-2-button-prev:hover,
.section-2-button-next:hover{
    background-color: #b98850;
}

.section-2-button-prev{
    background-image: url(Images/arrowLeft.png);    
}

.section-2-button-next{
    background-image: url(Images/arrowRight.png);
}

.section-2-left-img{
    height: 100%;   
    width: 75%;
    background-image: url(Images/sernik.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-2-right-img-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
}

.section-2-right-img{   
    background:#b98850e2;
    width: auto;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
} 

.section-2-right-img-content{
    color:ivory;
    flex: 1;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-2-right-img-subtitle, .section-2-right-img-button a{
    font-family: serif;
    font-size: 0.9em;    
    font-weight: 600;
    letter-spacing: 2px;
}

.section-2-right-img-title{
    font-size: 3em;
    margin: 10px 0 20px;
}

.section-2-right-img-button a{
  text-decoration: none;
    height: 35px;
    color:ivory;
    border-bottom: 2px solid ivory;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    cursor: pointer;
}

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    margin: 0;
  height: 100%;
}

body{
    font-family: Cormorant Garamond, sans-serif; 
    background-color: #f9f1e6;
}

.wrapper{
    margin: 60px auto 50px;
    width: 100%;
    max-width: 1200px;
}

.wrapper h2, h3, p{
  margin: 0 10px 10px 10px;  
}

.recipe-hero-img-faworki{  
  margin-top: 120px;
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(96, 51, 0, 0.5),rgba(96, 51, 0, 0.5)), url('Images/faworki.jpg');
}

.recipe-hero-img-pierniczki{  
  margin-top: 120px;
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(96, 51, 0, 0.5),rgba(96, 51, 0, 0.5)), url('Images/pierniczki.jpg');
}

.recipe-hero-img-makowiec{  
  margin-top: 120px;
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(96, 51, 0, 0.5),rgba(96, 51, 0, 0.5)), url('Images/makowiec2.jpg');
}
.recipe-hero-img-sernik{
  margin-top: 120px;
  background-image: linear-gradient(rgba(96, 51, 0, 0.5),rgba(96, 51, 0, 0.5)), url('Images/sernik.jpg');
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.recipe-hero-text{
  font-size: 2em;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: ivory;
}

hr{
  color: bisque;
  margin: 10px 0 20px;
}

section{
    scroll-margin-top:140px;    
    margin-top: 100px;
    margin-bottom: 100px;
}

#posty h1{
  color:bisque;
  margin: 25px;
}
#posty h2, #posty a{
  color:bisque;
  text-decoration: none;
}

.posty img{
  border: 2px solid #804f17;
  max-height: 300px;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}

.posty{
  background-color: #804f17;
  padding: 20px;
  border-radius: 25px;  
}

.post{
  border: 2px solid #ecd1b3;
  border-radius: 25px;
  padding: 20px;

  margin: 40px 10px;
  scroll-margin-top:120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

#about-us, #info, h2 p, #info li{
    margin-bottom: 20px;
    padding: 0 20px;
    color: #804f17;    
    font-size: 20px;
}

#info a{
    color: #be1961;
    text-decoration: none;
}
#info a:hover{
  color: #f0a00c;
}

.primary{
    color:#804f17;
}

table img {
  margin: 8px -16px;
  object-fit: cover;
}

table, th, td {
  border:1px solid bisque;
  border-collapse: collapse;
  table-layout: fixed;
}
button{
    background-color: #b98850;
    color: ivory;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
  }

  button:hover{
    background-color: #f0a00c;
  }

  #post input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ecd1b3; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    color: #804f17;
  }

  #title{
    color: #804f17;
  }

  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ecd1b3; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
 
  input[type=submit] {
    background-color: bisque;
    color: #804f17;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
  input[type=submit]:hover{
    background-color: #f9f1e6;
  }
  
  .container{
    background-color: #804f17;
    padding: 30px;
    border-radius: 25px;
  }

  .container h2{
    margin: 30px 0 10px;
    color:bisque;
  }
  .container p{
    color:bisque;
    font-size: 20px;
    line-height:180%
  }

  .container ul, li{
    color: #ecd1b3;
  }

  .container img{
    max-height: 500px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    margin: auto;
    display: block;
  }

  label{
    color: #804f17;
  }

  .profile-content{
    margin: 140px 10px;
    scroll-margin-top:120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
  }

  .profile-content h1, h2, h3{
    color: #804f17;
  }

  .profile-tekst{
    flex: 1;
  }

  .profile-content img{
    border: 2px solid #804f17;
    max-height: 300px;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
  }

  .profile-content input[type=submit] {
    background-color: #b98850;
    color: ivory;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .profile-content input[type=submit]:hover{
    background-color: #f0a00c;
  }

  .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0;
}
article{
    display: block;
    align-self:center ;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #804f17;
    border-radius: 8px;
    color: #804f17;
    font-size: 16px;
}

table.posts{
  border: 1px solid #bbb;
  border-collapse: collapse;
  font-size: 16px;
  color: #000;
  width: 100%;
}
tr:nth-child(2n){
  background-color: #ecd1b3;
}

table.posts th,
table.posts td {
  border: 1px solid #804f17;
  padding: 20px;
  color: #804f17;
}

table.posts td:first-child, table.posts th:first-child
{
  border-left: none;
  width: 20%;
}

table.posts td:last-child, table.posts th:last-child
{
  width: 20%;
}

table.posts tr:last-child {
  border-bottom: none; 
}

table.posts a{
  text-decoration: none;
  background-color: #b98850;
  color: ivory;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
}

table.posts a:hover{
  background-color: #f0a00c;
}

/* reports */
.chart{
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 3px solid #804f17;
  display: inline-block;
}

footer{
  text-align: center;
}

